.form_list {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    .form_list_top {
        width: 100%;
        height: auto;
        background: #fff;
        padding: 10px;
        border-radius: 7px;
        box-sizing: border-box;
        .form_list_top_Div {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #f2f2f2;
            padding: 10px 20px;
            display: flex;
            box-sizing: border-box;
            .form_list_top_div_List {
                flex: 1;
                display: flex;
                align-items: center;
                .form_list_top_div_List_title {
                    width: 200px;
                    font-size: 17px;
                    text-align: right;
                    font-weight: bold;
                }
                .form_list_top_div_content {
                    flex: 1;
                    font-size: 16px;
                    padding-left: 10px;
                    box-sizing: border-box;
                    display: flex;
                    span {
                        margin-left: 10px;
                    }
                    .ant-select-selection--multiple{
                        height: 40px;
                        .ant-select-selection__rendered{
                            height: 40px;
                        }
                    }
                }
                .content_list {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    padding-left: 10px;
                    .list_list {
                        width: 40%;
                        height: 20px;
                        overflow: hidden;
                        height: auto;
                        float: left;
                    }
                }
            }
        }
    }
    .form_list_search {
        margin-top: 20px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 10px 0;
        box-sizing: border-box;
        font-weight: bold;
    }
    .list_content {
        width: 100%;
        height: auto;
        margin: 0 auto;      
        .cart-cpt:hover {
            box-shadow: 10px 10px 3px #ccc;
            transform: scale(1.01);
            cursor: pointer;
        }
        &:hover .save {
            opacity: 1;
        }
    }
    .cart-cpt {
        width: 200px;
        height: auto;
        margin-top: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .loader {
        width: 100%;
        height: auto;
        position: -webkit-sticky;
        bottom: 0;
        text-align: center;
        z-index: 1;
    }
}