.layouts_home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    .header_nav {
        width: 100%;
        height: 70px;
        background: rgba(15, 15, 15, 0.692);
        display: flex;
        color: white;
        .logo {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 20px;
            box-sizing: border-box;
        }
        .nav {
            flex: 1.5;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .aStyle {
            font-weight: bold;
            color: #fff;
        }
        .search {
            flex: 2;
            height: 100%;
            padding: 11px 60px;
            box-sizing: border-box;
            
            .allSearch {
                width: 100%;
                height: 38px;
                border: 0;
                border-radius: 10px;
                color: #000;
                outline: none;
                padding-left: 20px;
                font-size: 18px;
                box-sizing: border-box;
            }
        }
        .user {
            flex: 1.5;
            height: 100%;
            display: flex;
            align-items: center;
            .user_left {
                width: 30px;
                height: 100%;
                display: flex;
                align-items: center;
                margin-right: 5px;
                box-sizing: border-box;
            }
            .user_right {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                font-size: 16px;
                .user_left_bot, .user_left_top {
                    flex: 1;
                    padding-left: 10px;
                    display: flex;
                    box-sizing: border-box;
                    .anticon {
                        font-size: 20px;
                        margin-right: 3px;
                    }
                }
                .user_left_top {
                    display: flex;
                    align-items: center;
                }
            }
        } 
    }
    .home_content {
        flex: 1;
        overflow: auto;
    }
}